{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">

</head>
<body style="background-image:url('/static/img/background.jpg');background-repeat:no-repeat;background-size:cover;">
<div class="container">
    <div class="white-box">
        <h1 >登录您的账号</h1>
            <form method="POST" action="/login">
                <input type="text" name="user" placeholder="账号">
                <input type="password" name="pwd" placeholder="密码">
                <button type="submit">确定</button>
            </form>
        <a href="/enroll">注册账号</a>
    </div>
</div>



</body>
</html>